/BLE-CC254x-1.4.1.43908_copy/Projects/ble/Thermometer/CC2541DB/CC2541DK-MINI Keyfob Slave/*
/BLE-CC254x-1.4.1.43908_copy/Projects/ble/Thermometer/CC2541DB/Backup of thermometer.ewd
/BLE-CC254x-1.4.1.43908_copy/Projects/ble/Thermometer/CC2541DB/Backup of thermometer.ewp
/BLE-CC254x-1.4.1.43908_copy/Projects/ble/Thermometer/CC2541DB/thermometer.dep
/BLE-CC254x-1.4.1.43908_copy/Projects/ble/Thermometer/CC2541DB/thermometer.ewt
/BLE-CC254x-1.4.1.43908_copy/Projects/ble/KeyFob/CC2540DB/*
/BLE-CC254x-1.4.1.43908_copy/Projects/ble/KeyFob/CC2541DB/*